body {
  min-height: :3000px;
}
.jumbotron {
  padding-top: 10rem;
}

#Saya {
  background-color: #0099ff;
  padding-top: 5rem;
}


#Pendidikan {
  padding-top: 5rem;
}

#Keahlian {
  background-color:#0099ff;
  padding-top: 5rem;
}
#Pengalaman {
  padding-top: 2rem;
}

#Hobi {
  background-color:#0099ff;
  padding-top: 5rem;
}

#Kontak {
  padding-bottom: 1rem;
}